## 作業:
今天學到不同統計量之間特性，  
試著分析男生女生身高資料，  
試著回答下面的問題:  
Q1:試著用今天所教的內容，如何描述這兩組資料的樣態?    
Q2: 請問男生和女生在平均身高上誰比較高?   
Q3:請問第二題的答案和日常生活中觀察的一致嗎? 如果不一致，你覺得原因可能為何?    
上述問題透過  python 語法進行運算，
並將上述答案填寫在 (google 表單)[https://docs.google.com/forms/d/e/1FAIpQLSdDzwpeJl8YLPwZaW8pBZvtuXY9kIbbZLqxcXyzFaoraV5JEA/viewform ]
![](作業資料圖檔.PNG)

In [1]:
# library
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats
import math
import statistics
import seaborn as sns

In [7]:
## 輸入資料
df = pd.DataFrame({
       '男生':[164,175,183,173,176,159,165,165,169,151,156,163,
              169,144,170,177,165,160,164,171],
       '女生':[169,170,162,154,183,173,169,167,170,185,162,175,
              168,151,181,170,182,156,159,160]})
df

     男生   女生
0   164  169
1   175  170
2   183  162
3   173  154
4   176  183
5   159  173
6   165  169
7   165  167
8   169  170
9   151  185
10  156  162
11  163  175
12  169  168
13  144  151
14  170  181
15  177  170
16  165  182
17  160  156
18  164  159
19  171  160

In [17]:
#Q1:試著用今天所教的內容，如何描述這兩組資料的樣態?
#暗示:  分別計算男生和女生的統計量
df.describe().round(2)

           男生      女生
count   20.00   20.00
mean   165.95  168.30
std      9.21    9.77
min    144.00  151.00
25%    162.25  161.50
50%    165.00  169.00
75%    171.50  173.50
max    183.00  185.00

In [ ]:
#Q2: 請問男生和女生在平均身高上誰比較高? 
# 男生 : 165.95
# 女生 : 168.30 
# --> 女生較高

'\n你的答案\n'

In [ ]:
#Q3:請問第二題的答案和日常生活中觀察的一致嗎? 如果不一致，你覺得原因可能為何? 
# 不一致，但有可能是抽樣問題，剛好抽到的男生都較矮、女生都較高。

'\n你的答案\n'