# [作業目標]

1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```


2. 一個包含兩個欄位的 DataFrame，將每個數字減去

```
* 1) 該欄位的平均數
* 2) 該筆資料平均數
```

3. 承上題，請問：

```
* 1) 哪一比的資料總合最小
* 2) 哪一欄位的資料總合最小
```

# 作業

### 1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```

In [1]:
# 記得先 Import 正確的套件

import numpy as np
import pandas as pd

In [2]:
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [16]:
a = pd.unique(df['animal'])
for animal in a:
    print(animal, 'average age :', df[df['animal']==animal]['age'].mean())

cat average age : 2.5
snake average age : 2.5
dog average age : 5.0

In [25]:
df.sort_values(by=['age','visits'],ascending=True)

  animal  age  visits priority
c  snake  0.5       2       no
f    cat  2.0       3       no
a    cat  2.5       1      yes
j    dog  3.0       1       no
b    cat  3.0       3      yes
g  snake  4.5       1       no
e    dog  5.0       2       no
i    dog  7.0       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes

In [34]:
df['priority'].replace({'no':'False','yes':'True'})

a     True
b     True
c    False
d     True
e    False
f    False
g    False
h     True
i    False
j    False
Name: priority, dtype: object

### 2. 一個包含兩個欄位的 DataFrame，將每個數字減去

* 1) 該欄位的平均數
* 2) 該筆資料平均數

In [122]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df

          0         1         2
0  0.900132  0.676813  0.775091
1  0.579784  0.852821  0.138283
2  0.051864  0.127225  0.508071
3  0.191604  0.906772  0.294286
4  0.644175  0.566643  0.109494

In [123]:
print(df.mean(axis=0))

for i in df:
    df[i] = df[i]-df[i].mean()
print(df)

# 方法2 

print('\n------------------\n')
df-df.mean(axis=0)

0    0.473512
1    0.626055
2    0.365045
dtype: float64
          0         1         2
0  0.426620  0.050758  0.410046
1  0.106272  0.226767 -0.226762
2 -0.421648 -0.498830  0.143026
3 -0.281908  0.280717 -0.070759
4  0.170663 -0.059412 -0.255551

------------------

          0         1         2
0  0.426620  0.050758  0.410046
1  0.106272  0.226767 -0.226762
2 -0.421648 -0.498830  0.143026
3 -0.281908  0.280717 -0.070759
4  0.170663 -0.059412 -0.255551

In [127]:
print(df.mean(axis=1))
print(df.index)

print('\n------------------\n')

for i in range(3):
    df.iloc[i,:] = df.iloc[i,:] - df.iloc[i,:].mean()
print(df)

# 方法2
print('\n--------------\n')
df.sub(df.mean(axis=1),axis=0) # pd.sub()，為減法功能，可以指定方向。

0   -4.625929e-18
1    0.000000e+00
2    0.000000e+00
3    1.387779e-17
4    9.251859e-18
dtype: float64
RangeIndex(start=0, stop=5, step=1)

------------------

          0         1         2
0  0.130812 -0.245050  0.114238
1  0.070847  0.191341 -0.262188
2 -0.162497 -0.239679  0.402177
3 -0.257925  0.304700 -0.046776
4  0.218763 -0.011312 -0.207451

--------------

          0         1         2
0  0.130812 -0.245050  0.114238
1  0.070847  0.191341 -0.262188
2 -0.162497 -0.239679  0.402177
3 -0.257925  0.304700 -0.046776
4  0.218763 -0.011312 -0.207451

### 3. 承上題，請問：

1) 哪一比的資料總合最小
2) 哪一欄位的資料總合最小

In [117]:
print(df.sum(axis=1))
print('\n-------------\n')
print(df.sum(axis=1).idxmin())
# index = 4 ，第5筆資料的總和最小

0    0.000000e+00
1    5.551115e-17
2   -2.081668e-17
3    0.000000e+00
4   -5.551115e-17
dtype: float64

-------------

4

In [118]:
print(df.sum(axis=0))
print('\n--------------\n')
print(df.sum(axis=0).idxmin())

# index = 1 , 第2欄的總和最小

0   -5.551115e-17
1   -1.110223e-16
2    2.775558e-16
dtype: float64

--------------

1