# [作業目標]

1. [簡答題] 請問下列四種不同的 DataFrame 選取結果有什麼差異？

```
df.loc[ '2013-01-01', 'A'] 
df.loc[ '2013-01-01', ['A', 'B'] ] 
df.loc[ '2013-01-01':'2013-01-02', 'A' ] 
df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] 
```


2. 請根據提供的資料，選擇出下列的要求：

```
# - select the first 3 rows.
# - select the odd rows. (index = 1, 3, 5)
# - select the last 2 columns.
# - select the even columns. (index = 0, 2, 4)
```

3. 請根據提供的資料，選擇出下列的要求：

```
# - 1. filtered by first column > 20?
# - 2. filtered by first column + second column > 50
# - 3. filtered by first column < 30 or second column > 30
# - 4. filtered by total sum of row > 100
```

# 作業

### 1. [簡答題] 請問下列四種不同的 DataFrame 選取結果有什麼差異？

```
df.loc[ '2013-01-01', 'A'] 
df.loc[ '2013-01-01', ['A', 'B'] ] 
df.loc[ '2013-01-01':'2013-01-02', 'A' ] 
df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] 
```

In [ ]:
# 1. 選擇2013-01-01列，以及'A'欄位
# 2. 選擇2013-01-01列，以及'A','B'欄位
# 3. 選擇2013-01-01 ~ 2013-01-02列，以及'A'欄位
# 4. 選擇2013-01-01 ~ 2013-01-05列，以及'A', 'C'欄位

### 2. 請根據提供的資料，選擇出下列的要求：

```
# - select the first 3 rows.
# - select the odd rows. (index = 1, 3, 5)
# - select the last 2 columns.
# - select the even columns. (index = 0, 2, 4)
```

In [3]:
# 記得先 Import 正確的套件
import pandas as pd
import numpy as np

In [38]:
df = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
print(df.head(3))
print(df[1::2])

       col1      col2      col3
0  1.607624 -1.924099  0.586651
1 -0.550668 -0.763043 -0.669920
2 -1.369606 -0.258387  1.528109
       col1      col2      col3
1 -0.550668 -0.763043 -0.669920
3 -1.807221 -1.398406 -0.587303
5 -0.691368 -0.871191 -0.232242

In [37]:
print(df.tail(2))
print(df.loc[:,0::2])

     0   1   2   3
13  11  21  17  12
14  30  18  22  11
     0   2
0   17  26
1   29  35
2   38  27
3   11  29
4   31  34
5   22  31
6   10  34
7   25  19
8   13  18
9   19  36
10  19  23
11  34  12
12  33  21
13  11  17
14  30  22

### 3. 請根據提供的資料，選擇出下列的要求：

```
# - 1. filtered by first column > 20?
# - 2. filtered by first column + second column > 50
# - 3. filtered by first column < 30 or second column > 30
# - 4. filtered by total sum of row > 100
```

In [55]:
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
print(df[0][df[0]>20])
print(df[(df[0]+df[1])>50])

0    22
1    36
2    38
3    39
6    32
7    29
8    35
9    30
Name: 0, dtype: int32
    0   1   2   3
0  22  30  32  25
1  36  23  12  18
3  39  13  35  20
6  32  31  39  22
7  29  29  35  34
8  35  26  16  25

In [53]:
print(df[(df[0]>30) | (df[1]<30)])
print(df[df.sum(axis=1)>100])

     0   1   2   3
0   32  28  39  18
1   24  24  20  12
2   21  15  20  32
3   20  28  14  37
5   34  32  13  24
6   14  22  20  14
7   37  15  20  17
8   33  20  15  18
9   36  32  30  33
10  20  29  15  26
11  35  11  26  23
12  27  23  24  33
14  14  24  36  39
     0   1   2   3
0   32  28  39  18
5   34  32  13  24
9   36  32  30  33
12  27  23  24  33
14  14  24  36  39